[mysqld]

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

## server_id 这是唯一的
server_id=100
## 过滤数据表
binlog_ignore_db=mysql
## 开启master二进制文件存储路径，默认存放在data目录
log_bin=master_bin_100
## 配置复制模式，row基于行、statement基于语句，mixed两者混合
binlog_format=mixed
## 配置安全选项，每次事务提交前都会将二进制文件同步到磁盘，保证服务器崩溃时不会丢失事件
sync_binlog=1